<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Library Loan History</title>
  <style>
    .rotate-45 {
      --transform-rotate: 45deg;
      transform: rotate(45deg);
    }

    .group:hover .group-hover\:flex {
      display: flex;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css" />
</head>

<body>